#dailyHabits-Content::-webkit-scrollbar-thumb {
  background: rgba(202, 255, 191, 0.5); 
  
}

#dailyHabits-Content::-webkit-scrollbar-thumb:hover {
  background: rgba(202, 255, 191, 0.9); 
}

#dailyHabits {
  background-color: rgba(202, 255, 191, 1);
}

