#wrapper {
  aspect-ratio: 1.618;
  width: 90vw;
  height: 90vh;
  position: relative;
}

#wrapper > .shape{
  height: 0%;
  width: 0%;
  top: 100%;
  left: 100%;
  position: absolute;
  transition: left, top, height, width, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  color: rgb(10, 10, 10);
  cursor: pointer;
}

#wrapper > .shape > h2 {
text-transform: uppercase;
left: 0;
top: 0;
text-align: left;
float: left;
margin: 0px !important;
width: 100%;
height: 8em;
text-overflow: clip;
font-size: 80vh;
white-space: nowrap;
overflow: hidden;
font-size: 6em;
cursor: pointer;
}

#wrapper > .shape > .h2Hover {
visibility: hidden;
}

#wrapper > .shape:hover > .h2Hover {
visibility: visible;
}

#wrapper > .shape:nth-child(1){
  background-color: rgba(255, 173, 173, 0.75);
}

#wrapper > .shape:nth-child(2){
  background-color: rgba(255, 214, 165, 0.75);
}

#wrapper > .shape:nth-child(3){
  background-color: rgba(253, 255, 182, 0.75);
}

#wrapper > .shape:nth-child(4){
  background-color: rgba(202, 255, 191, 0.75);
}

#wrapper > .shape:nth-child(5){
  background-color: rgba(155, 246, 255, 0.75);
}

#wrapper > .shape:nth-child(6){
  background-color: rgba(160, 196, 255, 0.75);
}

#wrapper > .shape:nth-child(7){
  background-color: rgba(189, 178, 255, 0.75);
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {  
  left: 20%;
  top: 0%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {  
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {  
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(6) {  
  left: 70%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(7) {  
  left: 85%;
  top: 75%;
  height: 25%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 25%;
  top: 20%;
  height: 80%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {  
  left: 40%;
  top: 20%;
  height: 50%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 25%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {  
  left: 10%;
  top: 0%;
  height: 70%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(6) {  
  left: 75%;
  top: 10%;
  height: 80%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(7) {  
  left: 90%;
  top: 40%;
  height: 60%;
  width: 10%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 16.5%;
  height: 32%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(2) {  
  left: 20%;
  top: 2.7%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {  
  left: 38%;
  top: 0%;
  height: 100%;
  width: 62%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {  
  left: 0%;
  top: 47.3%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {   
  left: 34%;
  top: 56.4%;
  height: 32%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(6) {  
  left: 66%;
  top: 45%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(7) {  
  left: 80%;
  top: 68%;
  height: 32%;
  width: 20%;
}

#wrapper[data-roundness="1"] > .shape {   
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem; 
}

#wrapper[data-roundness="2"] > .shape {  
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
}

#wrapper[data-roundness="3"] > .shape {  
  border-radius: 30rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(1) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(2) {  
  border-radius: 20rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(3) {  
  border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(4) {  
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(5) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(6) {  
  border-top-left-radius: 16rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(7) {  
  border-top-left-radius: 10rem;
}

#wrapper[data-configuration="4"] > .shape:nth-child(1) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

#wrapper[data-configuration="5"] > .shape:nth-child(2) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

#wrapper[data-configuration="6"] > .shape:nth-child(3) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

#wrapper[data-configuration="7"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

#wrapper[data-configuration="8"] > .shape:nth-child(5) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

#wrapper[data-configuration="9"] > .shape:nth-child(6) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

#wrapper[data-configuration="10"] > .shape:nth-child(7) {  
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

.content {
  height: 72%;
  width: 95%;
  top: 8em;
  cursor: auto;
  padding: 12px 25px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

form  {
  width: 100%;
}